<%- include header -%>
  <body>
    <div class="Post_handle">
      <h1>Create new Post</h1>
      <h2 class="error"></h2>
      <form method="POST" action="/api/createnew">
        <!-- title - subtitle - password -->
        <%- include ./create_edit-form/form-title_subtitle_pass %>
        <!-- TAGS -->
        <%- include ./create_edit-form/form-tags %>
        <!-- media -->
        <%- include ./create_edit-form/form-media %>
    </div>
<%- include footer -%>
