<%- include header -%>
<body>
  <div class="Post_handle">
    <h1>Edit Post</h1>
    <form method="POST" action="/api/modifynew/<%= id %>?_method=put">
    <!-- title - subtitle - password -->
    <%- include ./create_edit-form/form-title_subtitle_pass %>
    <!-- TAGS -->
    <%- include ./create_edit-form/form-tags %>
    <!-- media -->
    <%- include ./create_edit-form/form-media %>
  </div>
<%- include footer -%>
